body {
    background-color: black;
    overflow-x: hidden !important;
}

.logo-sec{
    width: 45%;
}

.nv-link{
    width: 25%;
}

.cl-ml {
    left: 35%;
    transform: translate(-50%);
    top: 95%;
    position: fixed;
    background-color: #d9a75c;
}

.cl-ml .fa-phone {
    transform: rotate(360deg) !important;
}

.enq-btn {
    position: fixed;
    top: 55%;
    right: -5.5%;
    z-index: 100;
    rotate: 270deg;
    background-color: #c49b36;
}

.enq-btn:hover {
    background-color: #6e0e10 !important;
}

.logo {
    width: 40%;
}

.bok-apoi {
    color: #6e0e10;
    background-color: #fff;
   
    font-size: 12px;
    padding: 3%;
    text-decoration: none;
    text-transform: uppercase;
    width: 95%;
    text-align: center;
    border-radius: 25px;
    font-weight: 600;
}

.bok-apoi:hover {
    color: #fff;
    background-color: #6e0e10;
}

.carousel-indicators {

    left: -80px !important;
    justify-content: start !important;
}

.carousel-indicators [data-bs-target] {
    width: 16px !important;
    height: 9px !important;
    margin-right: 9px !important;
    background-color: #c46037 !important;
}

.cote{
    font-size: 25px;
    text-align: center;
}

.semicolon {
    font-size: 60px;
    
}

.bord-rad{
    border-radius: 20px;
}

.sec-fluid {
    overflow: hidden;
}

.main-sec1 {
    overflow: hidden !important;
    background-color: black;
}

.spn-1 {
    color: white;
    font-size: 40px;
    line-height: 80px;
    padding-left: 13%;
}

.spn-1:before {
    content: "";
    display: block;
    width: 120px;
    height: 6px;
    background: #c46037;
    position: absolute;
    top: 25%;
}

.spn-2 {
    color: #ffbd5e;
    font-size: 62px;
    line-height: 50px;
}

/* .spn-2::after {
    content: " ";
    display: block;
    width: 150px;
    height: 6px;
    background: #c46037;
    position: absolute;
    top: 75%;
    right: 35% !important;
} */

.ul-content {
    position: absolute;
    left: 5% !important;
}

.president-img{
    height:  400px;
    overflow-y: scroll;
}

.ul-content li span {
    color: #fff;
    font-size: 16px;
}

.ul-content li {
    content: '';
    color: #c46037;
    font-size: 25px;
}

.ul-content1 li span {
    color: #fff;
    font-size: 16px;
}

.ul-content1 li {
    content: '';
    color: #c46037;
    font-size: 25px;
}


.center-img {
    margin-top: -10%;
    width: 100%;
  
}

.pos-ab2 {
    position: absolute;
    bottom: -2%;
}

.spn-11 {
    color: black;
    font-size: 40px;
    padding-left: 15%;
    line-height: 105px;
}

.spn-11::before {
    content: "";
    display: block;
    width: 150px;
    height: 6px;
    background: #c46037;
    position: absolute;
    top: 7.5%;
    left: 2%;
}

.spn-22 {
    color: #ffbd5e;
    font-size: 55px;
    text-transform: uppercase;
    line-height: 10px;
}

/* .spn-22::after{
    content: "";
    display: block;
    width: 150px;
    height: 6px;
    background: #c46037;
    position: absolute;
    top: 45%;
    left: 33%;
} */

.rot-img {
    width: 50%;
    animation: rotation 10s infinite linear;
}

.log-abs {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 40%;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.amen {
    position: relative;
}

.ame-img {
    width: 20%;
}

.amenities p {
    font-size: 15px !important;
}

.amen-bg {
    width: 100%;
    height: 50vh;
    filter: brightness(0.5);
}

.amen-abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 65px;
}

.spn-12 {
    color: white;
    font-size: 35px;
    padding-left: 15%;
    line-height: 105px;
}

.spn-121 {
    color: white;
    font-size: 35px;
    line-height: 105px;
    text-transform: uppercase;
}

.spn-122 {
    color: white;
    font-size: 40px;
    padding-left: 15%;
    line-height: 105px;
}

.spn-12::before {
    content: "";
    display: block;
    width: 150px;
    height: 6px;
    background: #c46037;
    position: absolute;
    top: 12%;
    left: 0%;
}

/* .spn-121::before {
    content: "";
    display: block;
    width: 150px;
    height: 6px;
    background: #c46037;
    position: absolute;
    top: 10%;
    left: 2%;
} */

.spn-122::before {
    content: "";
    display: block;
    width: 150px;
    height: 6px;
    background: #c46037;
    position: absolute;
    top: 9%;
    left: 5.5%;
}

.spn13::before {
    content: "";
    display: block;
    width: 150px;
    height: 6px;
    background: #c46037;
    position: absolute;
    top: 20%;
    left: 2%;
}

.amenities p {
    font-size: 20px;
    color: white;
}

.accordion-header .accordion-button {
    color: #ffbd5e;
    font-size: 25px;
}

label {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}

.sub {
    font-size: 18px;
    font-weight: 600;
    background-color: #6e0e10;
    border: none;
    color: white;
}

footer {
    background-color: black;
    color: #fff;
    z-index: 100;
    font-size: 14px;
    padding: 1% 5%;
}

.modal-header {
    background-color: #666666 !important;
}

.carousel-control-next,
.carousel-control-prev {
    width: 5% !important;
}

.accordion-button:not(.collapsed) {
    background-color: #6e0e10 !important;
}

.fa-phone {
    rotate: 100deg;

}

.highlights_list li{
    list-style: none;
    font-size: 15px;
    color: white;
    padding: 0.5%;
}

li .fa{
    color: #d9a75c;
    padding-right: 2%;
}

.gal-img:hover{
    box-shadow: 2px 2px 12px #d9a75c !important;
}
